@{
    ViewBag.Title = "About";
}

<br /><br />
<h5>
    <b>
        34. Продаж залізничних квитків
    </b>
</h5>
<h5 align="justify">
    Продаж залізничних квитків здійснюється таким чином. Поїзд їде по маршруту, який є послідовністю станцій. Клієнт запрошує наявність квитків на певну дату і напрям, від початкової до кінцевої станції своєї поїздки, і ці станції не завжди є початковою і кінцевою станціями поїзду. Додатково вказуючи бажаний тип вагону (купе, плацкарт і так далі). Касир здійснює пошук в базі по вказаних атрибутах, і повідомляє клієнтові можливі варіанти, які блокуються до закінчення операції. Клієнт вибирає з можливих варіантів квиток, після чого касир вносить дані до бази і отримує гроші за квиток.
    <br /><br />
    Дані, введені касиром, потрапляють у базу даних у центральному апараті, що унеможливлює продажу одного і того ж місця, якщо воно вже продане іншому пасажиру.
    <br /><br />
    У разі здачі квитка касир повертає клієнту гроші (за вирахуванням деякої пені), і забирає оформлений квиток, після чого позначає даний квиток як незайнятий.
</h5>
<br />
<br />
<br />
<h6>
    Україна, КПІ, ФІОТ, каф. ІСТ. Курсова робота з БД. Частина 4 - Створення застосування.
    <br />
    Виконав Зозулюк Віктор, студент групи ІС-02.
</h6>
<br />
<h6>
    Ukraine, KPI, FICT, IST dep., Database Term Paper. Part 4 - Development of an application.
    <br />
    Developed by Zozuliuk Viktor, student of the group IS-02.
</h6>
<br /><br /><br />