@{
    ViewBag.Title = "Головна";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/game-stylesheet.css" />
}

<br />
<br />
<div class="menu">
    <div class="frame1">
        <img src="~/Content/images/HomeImage.jpg" />
    </div>
    <div class="frame2">
        <h5 align="justify">
            Продаж залізничних квитків здійснюється таким чином. Поїзд їде по маршруту, який є послідовністю станцій. Клієнт запрошує наявність квитків на певну дату і напрям, від початкової до кінцевої станції своєї поїздки, і ці станції не завжди є початковою і кінцевою станціями поїзду. Додатково вказуючи бажаний тип вагону (купе, плацкарт і так далі). Касир здійснює пошук в базі по вказаних атрибутах, і повідомляє клієнтові можливі варіанти, які блокуються до закінчення операції. Клієнт вибирає з можливих варіантів квиток, після чого касир вносить дані до бази і отримує гроші за квиток.
            <br /><br />
            Дані, введені касиром, потрапляють у базу даних у центральному апараті, що унеможливлює продажу одного і того ж місця, якщо воно вже продане іншому пасажиру.
            <br /><br />
            У разі здачі квитка касир повертає клієнту гроші (за вирахуванням деякої пені), і забирає оформлений квиток, після чого позначає даний квиток як незайнятий.
        </h5>
    </div>
</div>
<br />
<br />
<br />